@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
html{
  font-size: calc(100vw/638); /* 100/ширина_для_которой_были_рассчитаны_размеры_в_пикселях */
}
body{
  font-size: 4vw;
  font-family: Helvetica, sans-serif, Arial, Dancing Script, Bungee Shade, cursive;
}

a {
  color: #794f45;
}
h2 {
  font-size: 2.5vw;
  margin: 0px 0px 30px 0px;
  text-align: center;
}
b {
  font-size: 2.5vw;
  font-family: Bungee Shade;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
._anim-show {
  transform: translate(0px, 200%);
  opacity: 0;
  transition: all 3s ease 0s;
}
._anim-show._active,
._active ._anim-show {
  opacity: 1;
  transform: translate(0px, 0px);
}
.page {
  background-color: #DCDCDC;
  position: relative;
  z-index: 2;
}
._container {
  max-width: 1400px;
  padding: 0px 3vw;
  margin: 0px auto;
}

.fullscreen_content {
  z-index: 2;
  position: relative;
  max-width: 1400px;
  min-height: 100vh;
  margin: 20px 20px;
  left: 60px;
  display: flex;
  padding: 0px 0px 20vh 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.fullscreen_title {
  font-size: 4vw;
  color: MidnightBlue;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 1s ease 0s;
}
.fullscreen_title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.fullscreen_text {
  font-size: 3.5vw;
  font-family: 'Great Vibes', cursive;
  color: blue;
  max-width: 50%;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 1s ease 0s;
}
.fullscreen_text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 1s ease 0.4s;
}
.fullscreen_image {
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.fullscreen_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover
}
.text {
  padding: 40px 0;
  font-size: 1.5vw;
  text-align: justify;
  line-height: 2vw;
  text-indent: 4vw;
}

.text_title {
  font-size: 2.5vw;
  margin: 0px 0px 30px 40px;
  text-indent: 40px;
}
.text_item {
  text-indent: 10rem;
  overflow: hidden;
  margin: 0px 40px 15px 40px;
}
.text_item:last-child {
  margin: 0 40px 0 40px;
}
.moments {
  background-color: #DEB887;
  padding: 50px 0;
}
.moments_items {
  display: flex;
  margin: 0px -20px;
}
.moments_item {
  flex: 0 1 25%;
  padding: 0px 20px;
  text-align: center;
}
.moments_image {
  width: 100rem;
  height: 100rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0px 0px 10px 0px;
  transform: scale(0);
  transition: all 2s ease 0s;
}
.moments_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.moments_text {
  font-size: 2.2vw;
  line-height: 35px;
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.moments_item._active .moments_image {
  transform: scale(1);
}
.moments_item._active .moments_text {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 3s ease 0.6s;
}
.list_container {
  overflow: hidden;
}
.list_item {
  font-size: 2.2vw;
  line-height: 3vw;
}
.list_item li {
  list-style: none;
  position: relative;
  padding: 0px 0px 0px 2vw;
  margin: 0px 0px 1vw 0px;
  transform: translate(-120%, 0px);
  transition: all 0.3s ease 0s;
}
.list_item._active li:nth-child(1) {
  transition: all 0.8s ease 0s; 
}
.list_item._active li:nth-child(2) {
  transition: all 0.8s ease 0.2s; 
}
.list_item._active li:nth-child(3) {
  transition: all 0.8s ease 0.4s; 
}
.list_item._active li:nth-child(4) {
  transition: all 0.8s ease 0.6s; 
}
.list_item._active li:nth-child(5) {
  transition: all 0.8s ease 0.8s; 
}
.list_item._active li {
  transform: translate(0px, 0px);
}
.list_item li::before {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  content: "";
  background-color: #77608d;
  position: absolute;
  left: -1vw;
  top: 0.5vw;
}
.list_item li:last-child {
  margin: 0;
}
.list {
  width: 100%;
  height: 250rem;
  display: flex;
  justify-content: flex-start;
  background-color: #4E5754; 
}
#figure {
  position: relative;
  width: 400px;
  margin: 0;
}

.clock {
  width: 150rem;
  height: 150rem;
  border-radius: 50%;
  position: relative;
  left: 0%;
  top: 20%;
  background: url(../img/clock2.jpg) center/cover, radial-gradient(rgba(255, 255, 255, 0.4), #64b5f6);
  object-fit: cover;
  box-shadow: 0 0 15rem rgba(0, 0, 0, 0.5), 0 0 10rem 5rem rgba(0, 0, 0, 0.6);
}
.clock::before {
  content:"";
  width: 7rem;
  height: 7rem;
  position: absolute;
  background: #333;
  border-radius: 50%;
  z-index: 60;
  top: calc(50% - 3.5rem);
  left: calc(50% - 3.5rem);
}
.giars_clock {
   width: 50rem;
   height: 30rem;
   background: #4E5754;
   border-radius: 2rem;
   position: absolute;
   top: 78rem;
   left: calc(50% - 25rem);
   overflow: hidden;
}
.giar_clock1 {
  width: 50rem;
  height: 50rem;
  background: url(img/giar.png) center/cover; 
  position: absolute;
  left: -30rem;
  top: -10rem;
  animation: giar 8s linear infinite;
}
.giar_clock2 {
  width: 40rem;
  height: 40rem;
  background: url(img/giar.png) center/cover; 
  position: absolute;
  right: -6rem;
  top: -10rem;
  animation: giar 8s linear infinite reverse;
}
.hour,
.min,
.sec {
  position: absolute;
  display: flex;
  justify-content: center;
}
.hour {
  width: 80rem;
  height: 80rem;
  top: calc(50% - 40rem);
  left: calc(50% - 40rem);
}
.hour::after,
.min::after,
.sec::after {
  content: "";
  width: 4rem;
  height: 40rem;
  background: #333;
  border-radius: 2rem 2rem 0 0;
  box-shadow: 1rem 1rem 2.5rem rgba(0, 0, 0, 0.5);
}
.min {
  width: 100rem;
  height: 100rem;
  top: calc(50% - 50rem);
  left: calc(50% - 50rem);
}
.min::after {
  width: 2rem;
  height: 50rem;
}
.sec {
  width: 125rem;
  height: 125rem;
  top: calc(50% - 62.5rem);
  left: calc(50% - 62.5rem);
}
.sec::after {
  width: 1rem;
  height: 75rem;
}
.giars {
  top: 0;
  left: 0;
  z-index: 40;
  position: relative;
  width: 460rem;
  height: 210rem;
  display: flex;
}
.giar1,
.giar2,
.giar3,
.giar4,
.giar5,
.giar6 {
 position: absolute;
 background: url(img/giar.png) center/cover; 
 display: inline-block;
}

.giar1 {
  width: 125rem;
  height: 125rem;
  left: 13rem;
  top: 20rem;
  animation: giar 8s linear infinite;
}
@keyframes giar {
  100% {transform: rotate(360deg);}
}
.giar2 {
  width: 110rem;
  height: 110rem;
  left: 106rem;
  top: 93rem;
  animation: giar 8s linear infinite reverse;
}
.giar3 {
  width: 95rem;
  height: 95rem;
  left: 200rem;
  top: 63rem;
  animation: giar 8s linear infinite;
}
.giar4 {
  width: 80rem;
  height: 80rem;
  left: 256rem;
  top: 10rem;
  animation: giar 8s linear infinite reverse;
}
.giar5 {
  width: 88rem;
  height: 88rem;
  left: 323rem;
  top: 35rem;
  animation: giar 8s linear infinite;
}
.giar6 {
  width: 70rem;
  height: 70rem;
  left: 375rem;
  top: 100rem;
  animation: giar 8s linear infinite reverse;
}
@media(max-width: 700px) {
.text {
  font-size: 12px;
  line-height: 15px;
  text-indent: 20px;
}
.text_title {
  font-size: 12px;
  margin: 0px 0px 10px 10px;
  text-indent: 10px;
}
._container {
  padding: 0px 5px;
}
.fullscreen_content {
  min-height: 50vh;
  left: 5px; 
}
.fullscreen_title {
  font-size: 30px;
}
.fullscreen_text {
  font-size: 25px;
}
}